################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PortalHub/FileContentIndex/224663d7-831d-40ed-b4fe-c3eba7b28a58.vsidx
/.vs/PortalHub/FileContentIndex/10ee9ce5-b99f-4786-b7bf-8971f5b2e411.vsidx
/.vs/PortalHub/FileContentIndex/2f3da9e4-60df-454b-9a37-cf791c3046ea.vsidx
/.vs/PortalHub/FileContentIndex/77dc4339-3db9-4606-83fa-25e8f202253a.vsidx
/.vs/PortalHub/FileContentIndex/a729d743-5c52-4f9e-91c5-57ed98fd4fb4.vsidx
/.vs/PortalHub/FileContentIndex/c1df11c6-5a97-4dc2-8d32-bec5f83ad91a.vsidx
/.vs/PortalHub/FileContentIndex/2f423826-5853-4bef-b155-9ef087ea56ad.vsidx
/.vs/PortalHub/FileContentIndex/42b7f05f-6f03-4953-accf-39dd8236984b.vsidx
/.vs/PortalHub/FileContentIndex/68c25345-8807-4d08-b88d-360c764bdf7f.vsidx
/.vs/PortalHub/FileContentIndex/d147eb8c-0d54-4ff9-bfec-874ab062d949.vsidx
/.vs/PortalHub/FileContentIndex/038256cf-bc74-44b1-be48-1fbb36d56c18.vsidx
/.vs/PortalHub/FileContentIndex/163aad2b-e536-4fe1-bb85-b388ae26a226.vsidx
/.vs/PortalHub/FileContentIndex/227c675d-430d-4649-a424-b0758349d359.vsidx
/.vs/PortalHub/FileContentIndex/d85db2d6-d206-48b7-a4d2-c505d248306a.vsidx
/.vs/PortalHub/FileContentIndex/3970ce80-da33-404a-b507-4ae6307c4a83.vsidx
/.vs/PortalHub/FileContentIndex/83f388a3-51a5-4699-90ce-cf4b4123aa80.vsidx
/.vs/PortalHub/FileContentIndex/8bd794a0-91c9-405d-ba1b-c6c5546ab644.vsidx
/.vs/PortalHub/FileContentIndex/c5f691fe-c045-40a1-968a-bad9b7eaaf8e.vsidx
/.vs/PortalHub/FileContentIndex/ce82a20d-e1b5-4026-9b3c-6fcde5b8b0b9.vsidx
/.vs/PortalHub/FileContentIndex/a74339b6-c13e-4ec8-b9c4-aa2e80d975c9.vsidx
