################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PortalHub/.vs/PortalHub/FileContentIndex/2c32b5d9-4118-4676-8184-8ea70bab54ba.vsidx
/PortalHub/.vs/PortalHub/FileContentIndex/4f87261d-048a-41ae-b324-a8425a8bae7a.vsidx
/.vs/PortalHub/FileContentIndex/213e8a71-3e8c-4008-98df-eba09e3707ea.vsidx
/.vs/PortalHub/FileContentIndex/5f21f9f4-75f5-4358-a8d3-f2065c0e4a57.vsidx
/.vs/PortalHub/FileContentIndex/8b3c370d-a6a9-4faa-8973-fc8314b6051f.vsidx
