################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PortalHub/.vs/PortalHub/FileContentIndex/2c32b5d9-4118-4676-8184-8ea70bab54ba.vsidx
/PortalHub/.vs/PortalHub/FileContentIndex/4f87261d-048a-41ae-b324-a8425a8bae7a.vsidx
