<style>
    .red-line {
        background-color: red;
        height: 2px;
        width: 100%;
    }

    .nav-text-color {
        color: #333;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucerna | Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortalHub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="red-line"></div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Lucerna/Lucerna_Logo.png" alt="Lucerna Logo" style="max-width: 100px; max-height: 70px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse d-flex flex-column d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-text-color" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-text-color dropdown-toggle" href="#" id="departmentsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i> Departmentos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="departmentsDropdown">
                                <a class="dropdown-item dropdown-toggle-split" href="#" id="managementDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gerencia</a>
                                <div class="dropdown-menu-end" aria-labelledby="managementDropdown">
                                    <a class="dropdown-item" asp-area="Management" asp-controller="Lucerna_KPI" asp-action="Create"><i class="fas fa-chart-bar"></i> Registro KPIs</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text-color" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="fas fa-lock"></i> Privacidad</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link nav-text-color">|</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text-color" asp-area="" asp-controller="Home" asp-action="LogOut"><i class="fas fa-door-open"></i> Cerrar Sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Leche Lucerna
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $(".nav-item.dropdown").hover(
            function () {
                $(this).addClass("show");
                $(this).find(".dropdown-menu").addClass("show");
            },
            function () {
                $(this).removeClass("show");
                $(this).find(".dropdown-menu").removeClass("show");
            }
        );
    });
</script>
