@model PortalHub.Areas.Management.Models.Lucerna_KPI

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .background-image {
        height: 100vh;
        background-image: url('/images/Lucerna/Vaso_Leche.png');
        background-repeat: no-repeat;
        justify-content: left;
    }

    .content {
        text-align: center;
    }
</style>

<div class="background-image content">
    <form asp-controller="Lucerna_KPI" asp-action="Create" method="post">
        <h1 class="display-4">Bienvenido al registro de KPIs</h1>
        <h3>Nombre de Empleado: @ViewData["userName"]</h3>
        <input class="form-control mb-3" type="number" placeholder="Numero de empleado" required name="EmployeeNo" />
        <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="password" />
        <div class="d-grid gep-2 mb-3">
            <button class="btn btn-success" type="submit">Iniciar Sesion</button>
        </div>
        @if (ViewData["Mensaje"] != null)
        {
            <div class="form-group">
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                </div>
            </div>
        }
    </form>
</div>