@model PortalHub.Areas.Management.Models.Lucerna_KPI

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .background-image {
        height: 100vh;
        background-image: url('/images/Lucerna/Vaso_Leche.png');
        background-repeat: no-repeat;
        justify-content: left;
    }

    .content {
        text-align: center;
    }
</style>

<div class="background-image content">
    <form asp-controller="Lucerna_KPI" asp-action="Create" method="post">
        <h1 class="display-4">Bienvenido al registro de KPIs</h1>
        <div class="form-group mt-5">
            <label for="userName">Nombre de empleado:</label>
            <input type="text" id="userName" name="userName" value="@ViewData["userName"]" readonly />
        </div>
        <div class="form-group mt-3">
            <label for="employeeNo">Numero de empleado:</label>
            <input type="text" id="employeeNo" name="employeeNo" value="101" readonly />
        </div>
        <div class="form-group mt-3">
            <label for="employeeNo">Departamento:</label>
            <input type="text" id="employeeNo" name="employeeNo" value="Automotriz" readonly />
        </div>
        <!-- DROPDOWN INDICADORES -->
        <div class="form-group mt-3">
            <label for="userName">Departamentos:</label>
            <input type="text" placeholder="Almacen" required name="EmployeeNo" />
        </div>
        <div class="form-group mt-3">
            <label for="userName">Cantidad:</label>
            <input type="text" placeholder="999" required name="EmployeeNo" />
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>
    </form>
</div>
