@model PortalHub.Models.User;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="colcol-12 col-xl-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        Registrate
                    </div>
                    <div class="card-body">
                        <form asp-controller="Init" asp-action="Register" method="post">
                            <input class="form-control mb-3" type="text" placeholder="Numero Empleado" asp-for="Badge" required />
                            <input class="form-control mb-3" type="text" placeholder="Nombre" asp-for="Name" required />
                            <input class="form-control mb-3" type="text" placeholder="Correo electronico" asp-for="Email" />
                            <input class="form-control mb-3" type="text" placeholder="Numero Telefono" asp-for="PhoneNumber" />
                            <input class="form-control mb-3" type="password" placeholder="Contraseña" asp-for="PasswordHash" required />
                            <div class="d-grid gep-2 mb-3">
                                <button class="btn btn-primary" type="submit">Registrate</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿Ya tienes una cuenta? <a href="@Url.Action("LogIn","Init")">Iniciar Sesion</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
